@page
@using Gremlin.Net.Structure.IO.GraphSON
@using System.Web
@using Microsoft.JSInterop
@using Newtonsoft.Json
@using System.IO
@model AppwithAI1.Pages.Dash_Test6Model
@inject IJSRuntime JSRuntime

@{
    ViewData["Title"] = "Add/Edit Project";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Add/Edit Project</title>

    <!-- CSS Libraries -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

    <!-- JS Libraries -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vis-network@7.6.2/dist/vis-network.min.js"></script>

    <!-- Web fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:200,300,400,600,700&Open+Sans:300,400,600,700">

    <!-- Bootstrap and Ares CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://unpkg.com/vis-network@7.6.2/dist/vis-network.min.css" rel="stylesheet" type="text/css" />
    


    <!-- Include the Materialize CSS library -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <!-- Page Container -->

    <style>
        /* Add the Materialize grid classes to the containers */
        .white-text {
            color: white;
        }
        #container {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100%;
            box-sizing: border-box;
            /* Add the Materialize grid class */
            class ="container";
        }

        .chart-size {
            width: 20px;
            height: 20px;
        }

        .form-group {
            margin-bottom: 15px; /* Adjust this value as needed */
        }

    </style>


</head>
<body>
    <!-- Card 1: Add/Edit Project -->
    <div class="dashboard-card">
        <h2>@ViewData["Title"]</h2>
        <form>
            <div class="form-group">
                <label for="projectTitle">Project Title:</label>
                <input type="text" class="form-control" id="projectTitle" placeholder="Enter project title">
            </div>
            <div class="form-group">
                <label for="projectType">Project Type:</label>
                <select class="form-control" id="projectType">
                    <option value="Other">Other</option>
                    <option value="Civil Construction">Civil Construction</option>
                    <option value="Residential Building">Residential Building</option>
                    <option value="Commercial Building">Commercial Building</option>
                    <option value="Industrial Construction">Industrial Construction</option>
                    <option value="Infrastructure Construction">Infrastructure Construction</option>
                    <option value="Environmental Construction">Environmental Construction</option>
                    <option value="Agricultural Construction">Agricultural Construction</option>
                    <option value="Power Plant Construction">Power Plant Construction</option>
                    <option value="Petrochemical Plant Construction">Petrochemical Plant Construction</option>
                    <option value="Highway Construction">Highway Construction</option>
                    <option value="Railway Construction">Railway Construction</option>
                    <option value="Tunnel Construction">Tunnel Construction</option>
                    <option value="Bridge Construction">Bridge Construction</option>
                    <option value="Airport Construction">Airport Construction</option>
                    <option value="Marine Construction">Marine Construction</option>
                    <option value="Water Treatment Plant Construction">Water Treatment Plant Construction</option>
                    <option value="Offshore Wind Farm Construction">Offshore Wind Farm Construction</option>
                    <option value="Solar Power Plant Construction">Solar Power Plant Construction</option>
                    <option value="Hydropower Plant Construction">Hydropower Plant Construction</option>
                    <option value="Geothermal Power Plant Construction">Geothermal Power Plant Construction</option>
                    <option value="Oil Refinery Construction">Oil Refinery Construction</option>
                    <option value="Natural Gas Processing Plant Construction">Natural Gas Processing Plant Construction</option>
                    <option value="Pipeline Construction">Pipeline Construction</option>
                    <option value="LNG Terminal Construction">LNG Terminal Construction</option>
                    <option value="Oil and Gas Well Drilling">Oil and Gas Well Drilling</option>
                    <option value="Subway Construction">Subway Construction</option>
                    <option value="Seaport Construction">Seaport Construction</option>
                    <option value="Bus Terminal Construction">Bus Terminal Construction</option>
                    <option value="Bicycle Path Construction">Bicycle Path Construction</option>
                    <option value="Airport Runway Construction">Airport Runway Construction</option>                   
                    <!-- Add more project types as necessary -->
                </select>
            </div>
            <div class="form-group">
                <label for="projectDescription">Project Description:</label>
                <textarea class="form-control" id="projectDescription" rows="3" placeholder="Enter project description"></textarea>
            </div>
            <div class="form-group">
                <label for="startDate">Start Date:</label>
                <input type="date" class="form-control" id="startDate">
            </div>
            <div class="form-group">
                <label for="endDate">End Date:</label>
                <input type="date" class="form-control" id="endDate">
            </div>
            <div class="form-group">
                <label for="companyName">Company Name:</label>
                <input type="text" class="form-control" id="companyName" placeholder="Enter company name">
            </div>
            <div class="form-group">
                <label for="companyAddress">Company Address:</label>
                <input type="text" class="form-control" id="companyAddress" placeholder="Enter company address">
            </div>

            <button type="submit" class="btn btn-primary">Save Project</button>
        </form>
    </div>


    <!-- Card 2: Add a Company to the Project -->
    <div class="dashboard-card">
        <h2>Add a Company to the Project</h2>
        <form>
            <div class="form-group">
                <label for="companyNameToAdd">Company Name:</label>
                <input type="text" class="form-control" id="companyNameToAdd" placeholder="Enter company's name">
            </div>
            <div class="form-group">
                <label for="companyRoleInProject">Company's Role in Project:</label>
                <input type="text" class="form-control" id="companyRoleInProject" placeholder="Enter company's role in project">
            </div>
            <div class="form-group">
                <label for="companyLocation">Company Location:</label>
                <input type="text" class="form-control" id="companyLocation" placeholder="Enter company's location">
            </div>

            <button type="submit" class="btn btn-success">Add Company</button>
        </form>
    </div>



    <!-- Card 5: Import Project Schedule -->
    <div class="dashboard-card">
        <h2>Import Project Schedule</h2>
        <p>You can import your project schedule from MS Project or Oracle P6. Please upload a .xml file exported from the native .mpp or .xer file.</p>
        <form>
            <div class="form-group">
                <label for="projectFile">Project File:</label>
                <input type="file" class="form-control-file" id="projectFile" accept=".mpp,.xer">
            </div>

            <button type="submit" class="btn btn-success">Import Schedule</button>
        </form>
    </div>


    </div>
</body>
</html>


